
/* CUSTOM FONT */
@font-face {
    font-family: "Bellamy";
    src: url("../fonts/Bellamy-Regular.otf");
}


/* BASE STYLES */

* {    
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif; 
}

.section-heading {
    font-family: "Bellamy";
    font-size: 53.57px;
    text-align: center;
    padding: 50px 0;

}

#portfolio {
    height: 1400px;
}

#about {
    height: 600px;
}

#contact {
    height: 400px;
}

h3 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    color: #d4487a;
    padding-top: 90px;
}

.bold-paragraph {
    padding: 10px 0;
}

/* GRID */

.full-width {
    width: 1200px;
    margin: 0 auto;
}

.half-width {
    width: 600px;
    margin: auto;
    float: left;
}
  
.third-width {
    width: 400px;
    text-align: center;
    float: left;
}

/* HEADER STYLES */
header {
    height: 850px;
    background-image: url("../img/header-image-2.jpg");
    background-size: cover;
    text-align: center;
}

#greeting {
    font-family: "Bellamy";
    font-size: 90px;
    color: #d4487a;
    padding-top: 250px;
}

#intro-blurb {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 30px;  
    color: #d4487a;
}

/* PORTFOLIO STYLES */

#portfolio {
    color: #d4487a;
}

.portfolio-blurb {
    padding-bottom: 170px;
}

/* ABOUT STYLES */
#about {
    background-color: #dac0c2;
    color: #fff;
}

#about-me-pic {
    padding-left: 60px;
}

.about-details {
    font-size: 20px;
    padding-top: 50px;
}

#about p {
    padding-top: 20px;
}

/* CONTACT STYLES */
#contact {
    background-color: #a7a3a0;
    color: #fff;
    font-size: 20px;
}

#contact p, #contact h4 {
    padding-bottom: 10px;
}

.social-media {
    padding: 0 20px;
}

/* FOOTER STYLES */

footer {
    background-color: #a7a3a0;
    color: #fff;
    clear: both;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    padding-bottom: 20px;
}